<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pandora Price</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
   	<link rel="stylesheet" type = "text/css" href="css/bootstrap/dist/css/bootstrap.min.css" >
</head>
<body>
	<div class="container">
		
		<div class="nav sidebar">
			<script type="text/template" id="listAlarm">				
				<a href="/list/<%= id %>"><%= title %></a>				
			</script>
		</div>
		
		<div class="row">
			<script type="text/template" id="templateAlarm">
			        <div class="thumbnail">
				        <img  src="<%=src%>">
				        <div class="caption">
					        <h3><%= title %></h3>
					        <p><%= description%></p>
					        <p><a href="/list/<%= id %>" class="btn btn-primary" role="button">Button</a>
				        </div>
			        </div>		           
		    </script>      
	    </div>  
	    <div class="oneModel">
	    	<script id="oneModelTemplate">
	    		<h2><%= title %></h2>
	    		<canvas id="chartAlarm" height="400" width="600"></canvas>
	    		<p><%= description %></p>
	    		<a href="/">На головну</a>
	    	</script>
	    </div>

	</div>


	<script src="js/jquery.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/app.js"></script>	
</body>
</html>